@model NavGallery.Models.Marca

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h2>Deletar Marca</h2>
    <h3>Tem certeza?</h3>

    <div>
        <h4>Marca Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Voltar a galeria</a>
            </div>
        </form>
    </div>
</div>
@section Fotterok {
    <div class="container">
        &copy; 2023 - NavGallery - Page=Delete de marcas<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    <img src="~/imagens/3.jpg" style="max-width: 60px; max-height: 60px;" />
    </div
}