@model NavGallery.Models.Marca

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Marca Informação</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar a galeria</a>
    </div>
</div>
@section Fotterok {
    <div class="container">
        &copy; 2023 - NavGallery - Page=Details de marca <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        <img src="~/imagens/2.jpg" style="max-width: 60px; max-height: 60px;" />
    </div>
}