@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NavGallery</h1>
    <div class="brand-link">
        <a asp-action="Index" asp-controller="Marcas">Ir até Marca</a>
        <a asp-action="Index" asp-controller="Cars">Ir até Cars</a>
    </div>
</div>
